
<ion-view title="Take attendance">
    <ion-content class="has-header">
        <div id="btn-container">
            <div style="padding:2%" ng-repeat="student in students">
                <button class="button button-fab button-balanced" ng-class="{'absentClass':student.absent}"
                        ng-click="toggle(student)"
                        on-hold="showInfo($event,student)">
                    {{student.rollno}}
                </button>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-light">
        <h1 class="title">Submit</h1>
        <button class="button button-clear button-icon ion-android-send" ng-click="showConfirm()"></button>
    </ion-footer-bar>
</ion-view>
