<ion-view title="Take attendance">  
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-android-home text-primary-color" ng-click="goHome()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" > 
        <div id="btn-container" style="padding-bottom:50px;">
            <div id="studentbtn" style="padding:5px" ng-repeat="student in students" on-hold="showInfo($event,student)">
                <button class="button button-fab waves-effect" ng-class="{'absentClass':student.absent}"
                        ng-click="toggle(student)" >
                    <strong style="color:white">{{student.rollno}}</strong>
                </button>
            </div>
        </div>
    </ion-content>
    <div id="info" class="waves-effect">
        <div><i class="icon ion-record icon1"></i> Present</div>
        <div><i class="icon ion-record icon2"></i> Absent</div>
    </div>
    <ion-footer-bar class="bar-light">
        <button class="button button-clear button-full button-dark waves-effect" style="margin:2px;" ng-click="askTopic()"><strong>Submit&nbsp;<i class="ion-android-send"></i></strong></button>
    </ion-footer-bar>
</ion-view>
