<ion-view title="Dashboard" has-subheader="true" ng-class="{'bar-subheader-slide-away': slideHeader}">
    <ion-nav-buttons side="primary">
        <button class="button button-icon button-clear ion-android-settings text-primary-color"></button>
        <button class="button button-clear icon ion-log-out text-primary-color" ng-click="logout()"></button>
    </ion-nav-buttons>
    <ion-header-bar class="bar-light bar-subheader">
        <h6 class="title" style="font-weight:200;font-size:medium">Your attendances</h6>
    </ion-header-bar>
    <ion-content class="has-subheader" scroll-watch>
        <div class="wrap">
            <div class="list" ng-repeat="(key , value) in attendances | groupBy:'date'">
                <div class="item item-divider">
                    {{key | date:'d MMMM, yyyy'}}
                </div>
                <a class="item item-icon-left" href="#" ng-repeat="att in value" ng-click="gotoDetails(att)">
                    <i class="icon ion-arrow-right-b secondary-text-color"></i>
                    <h2 class="primary-text-color">{{ att.subid.value }}</h2>
                    <p class="secondary-text-color">{{ att.year.id | uppercase }} {{ att.dept.value }}, {{ att.type.value }}</p>
                </a>
            </div>
            <div class="padding">
            </div>
            </div>
</ion-content>
    <div class="float-button accent-color">
        <span class="content">
        </span>
        <span class="height-fix">
            <a ui-sref="select" class="content">
                <i class="ion-android-create"></i>
            </a>
        </span>
    </div>
</ion-view>