<ion-view title="Hazri">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="user.email">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password">
            </label>
        </div>
        <div class="center">
            <button ng-click="login(user)" class="button button-primary-outline">
                Sign In
            </button>
        </div>
        <!-- <button class="button button-full button-positive ink" ui-sref="studentview">student</button> -->
    </ion-content>
</ion-view>