<ion-view view-title="Hazri">
    <ion-content class="padding" >
        
        <button ui-sref="login" class="button button-full button-positive ink">
           Faulty Login
        </button>
        <button ui-sref="student" class="button button-full button-positive ink">
            Student Login
        </button>
        <!--<div class="list" style="text-align:center">
            <button ng-click="modal.show()" class="button button-small button-outline icon-left ion-person-add button-positive">
                Create New Account
            </button>
        </div>-->
    </ion-content>
</ion-view>