<ion-view title="Select your class and subject">
    <ion-content padding="true" scroll="true" class="has-header">
        <ion-list>
            <div class="list animate-ripple">
                <div class="item item-divider">Department</div>
                <ion-radio ng-repeat="option in options"
                           ng-value="{id:option.id,value:option.value}"
                           ng-model="selected.dept">
                    {{ option.value }}
                </ion-radio>
            </div>
            selected: {{ selected.dept.id +" "+ selected.dept.value }}
        </ion-list>
        <button class="button button-block action-button button-positive" ui-sref="attendance({selected:selected})">Take attendance</button>

    </ion-content>
</ion-view>
