<ion-view title="Select your class and subject">
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-android-home text-primary-color" ng-click="goHome()"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <div ng-repeat="option in options">
                <ion-item class="item item-icon-right"
                            ng-click="showOptions(option)"
                            ng-class="{active: isOptionShown(option)}"
                            ng-show="option.show == undefined || option.show">
                    {{option.name}}
                    <span class="item-note" style="width:30%;overflow:hidden">{{ selected[option.id].value }}</span>
                    <i class="icon ion-chevron-down icon-accessory"></i>
                </ion-item>
                <ion-item class="item-accordion"
                            style="padding-left:3em !important;"
                            ng-repeat="item in option.values as selectedoption"
                            ng-show="isOptionShown(option)"
                            ng-click="setSelected(item, option)">
                    {{item.value}}
                </ion-item>
            </div>
            <label class="item">Duration<span style="width:30%;overflow:hidden" class="item-note">{{selected.noofhours}} Hour{{(selected.noofhours==1)?'':'s'}}</span></label>
            <div class="item range range-balanced" ng-init="selected.noofhours = 1">
                1
                <input type="range" min="1" max="3" value="1" ng-model="selected.noofhours">
                3
            </div>
            <ion-item class="item item-icon-right"
                        ng-click="toggleDate()">
                Date
                <span class="item-note" style="width:30%;overflow:hidden">{{ selected.date | date }}</span>
                <i class="icon ion-chevron-down icon-accessory"></i>
            </ion-item>
            <ion-item class="item-accordion" ng-show="showDate" ng-repeat="a in ['a']">
                <div id="datediv">
                    <div pickadate ng-model="selected.date" ng-click="hideDate()" ng-change="hideDate()" no-extra-rows></div>
                </div>
            </ion-item>
        </ion-list>
        <div class="center" style="margin-top: 2em">
            <button class="button button-balanced button-clear center waves-effect" style="color:#388E3C" ng-show="allSelected" ng-click="gotoAtt(selected)">TAKE ATTENDANCE</button>
        </div>
            
</ion-content>
</ion-view>
