<ion-view title="Select your class and subject">
    <ion-content padding="true" scroll="true" class="has-header">
        <ion-list>
            <div ng-repeat="option in options">
                <ion-item class="item item-icon-right item-stable"
                          ng-click="showOptions(option)"
                          ng-class="{active: isOptionShown(option)}"
                          ng-show="option.show == undefined || option.show">
                    {{option.name}}
                    <span class="item-note">{{ selected[option.id].value }}</span>
                    <i class="icon ion-chevron-down icon-accessory"></i>
                </ion-item>
                <ion-item class="item-accordion"
                          ng-repeat="item in option.values as selectedoption"
                          ng-show="isOptionShown(option)"
                          ng-click="setSelected(item, option)">
                    {{item.value}}
                </ion-item>
            </div>
                <ion-item class="item item-icon-right item-stable"
                          ng-click="opendateModal()">
                    Date
                    <span class="item-note">{{ selected.date | date }}</span>
                    <i class="icon ion-chevron-down icon-accessory"></i>
                </ion-item>
        </ion-list>
        <button class="button button-block action-button button-positive" ng-show="allSelected" ng-click="gotoAtt(selected)">Take attendance</button>
    </ion-content>
</ion-view>
