<ion-modal-view>
    <ion-header-bar class="bar bar-header dark-primary-color">
        <h1 class="title text-primary-color">Settings</h1>
    </ion-header-bar>
    <ion-content has-header="true" padding="true">
        <div class="list">

            <div class="item" ng-click="clear()">
                Clear data
            </div>
            <div class="item" ng-click="download()">
                Download student database
            </div>

            <div class="item item-divider">
                Information
            </div>
            <a class="item" ng-click="about()">
                About
            </a>
            <a class="item" ng-click="devinfo()">
                Developer information
            </a>
        </div>
    </ion-content>
</ion-modal-view>