<ion-view title="View your attendance">
    <ion-content>
        <!--<div class="item item-icon-right ink" ng-click="showDeptOptions()">
            Department
            <span class="item-note">{{ selected.dept.value }}</span>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
        <div class="item item-icon-right ink" ng-click="showYearOptions()">
            Year
            <span class="item-note">{{ selected.year.value }}</span>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
        <div class="item item-icon-right ink" ng-click="showSemOptions()">
            Semester
            <span class="item-note">{{ selected.semester.value }}</span>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
        <div class="item item-input">
            <span class="input-label">Roll no</span>
            <input type="number" min="1" max="100" ng-model="selected.rollno" ng-change="allSelected = true;">
        </div>
        <button class="button button-block action-button button-positive ink" ng-show="allSelected" ng-hide="!allSelected" ng-click="showGraph()">Submit</button>-->

        <input ng-model="highchartsNG.title.text">
        <button ng-click="addSeries()">Add Series</button>
        <button ng-click="addPoints()">Add Points to Random Series</button>
        <button ng-click="removeRandomSeries()">Remove Random Series</button>
        <button ng-click="swapChartType()">Line/Bar</button>
        

        <highchart id="chart1" config="highchartsNG"></highchart>
    </ion-content>
        
        
</ion-view>