<ion-view title="Absent Student Numbers">
    <ion-content padding="true" scroll="true" class="has-header">
        <div class="card">
            <div class="item item-text-wrap">
                Subject: {{ subjectName }} <br />
                Total Lectures: {{ totalLectures }} <br />
                <span ng-show="batchinfo.pr">Batch: {{ batchinfo.bno }}</span>
            </div>
        </div>
        <div id="cumAttTable">
            <div class="row header">
                <div class="col col-25">Roll No</div>
                <div class="col col-75">Cumulative Attendance</div>
            </div>
            <div class="row" ng-repeat="item in items | batch:batchinfo">
            <div class="col col-25"><strong>{{ item.roll }}</strong></div>
                <div class="col col-75">{{ item.att }}</div>
            </div>
        </div>
    </ion-content>
</ion-view>