<ion-view title="Absent Student Numbers">
    <ion-content padding="true" scroll="true" class="has-header">
        <div class="card">
            <div class="item item-text-wrap">
                Subject: {{ subjectName }} <br />
                Total Lectures: {{ totalLectures }} <br />
                <span ng-show="batchinfo.pr">Batch: {{ batchinfo.bno }}</span>
            </div>
        </div>
        <div id="cumAttTable">
            <div class="row header">
                <div class="col col-20">Roll No</div>
                <div class="col">Name</div>
                <div class="col col-25">Cumu Att</div>
            </div>
            <div class="row" ng-repeat="item in items">
                <div class="col col-20"><strong>{{ item.rollno }}</strong></div>
                <div class="col">{{ item.name }}</div>
                <div class="col col-25">{{ item.att }}</div>
            </div>
        </div>
    </ion-content>
</ion-view>