<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget defaultlocale="en-US" id="com.attendance.hazri" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps">
  <name>Attendr</name>
  <description>Attendance manager app for BVCOE</description>
  <author email="s3.netchamp@gmail.com" href="http://cordova.io">Faris and Suraj</author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-navigation href="http://*/*"/>
  <vs:features/>
  <preference name="windows-target-version" value="8.1"/>
  <preference name="KeepRunning" value="True"/>
  <preference name="ShowTitle" value="True"/>
  <preference name="InAppBrowserStorageEnabled" value="True"/>
  <preference name="SuppressesIncrementalRendering" value="True"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <preference name="xwalkVersion" value="15+"/>
  <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect"/>
  <preference name="xwalkMode" value="embedded"/>
  <preference name="xwalkMultipleApk" value="true"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
    <icon density="ldpi" src="resources\android\icon\drawable-ldpi-icon.png"/>
    <icon density="mdpi" src="resources\android\icon\drawable-mdpi-icon.png"/>
    <icon density="hdpi" src="resources\android\icon\drawable-hdpi-icon.png"/>
    <icon density="xhdpi" src="resources\android\icon\drawable-xhdpi-icon.png"/>
    <icon density="xxhdpi" src="resources\android\icon\drawable-xxhdpi-icon.png"/>
    <icon density="xxxhdpi" src="resources\android\icon\drawable-xxxhdpi-icon.png"/>
    <splash density="land-ldpi" src="resources\android\splash\drawable-land-ldpi-screen.png"/>
    <splash density="land-mdpi" src="resources\android\splash\drawable-land-mdpi-screen.png"/>
    <splash density="land-hdpi" src="resources\android\splash\drawable-land-hdpi-screen.png"/>
    <splash density="land-xhdpi" src="resources\android\splash\drawable-land-xhdpi-screen.png"/>
    <splash density="land-xxhdpi" src="resources\android\splash\drawable-land-xxhdpi-screen.png"/>
    <splash density="land-xxxhdpi" src="resources\android\splash\drawable-land-xxxhdpi-screen.png"/>
    <splash density="port-ldpi" src="resources\android\splash\drawable-port-ldpi-screen.png"/>
    <splash density="port-mdpi" src="resources\android\splash\drawable-port-mdpi-screen.png"/>
    <splash density="port-hdpi" src="resources\android\splash\drawable-port-hdpi-screen.png"/>
    <splash density="port-xhdpi" src="resources\android\splash\drawable-port-xhdpi-screen.png"/>
    <splash density="port-xxhdpi" src="resources\android\splash\drawable-port-xxhdpi-screen.png"/>
    <splash density="port-xxxhdpi" src="resources\android\splash\drawable-port-xxxhdpi-screen.png"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
  <platform name="android">
    <icon density="ldpi" src="res/icons/android/icon-36-ldpi.png"/>
    <icon density="mdpi" src="res/icons/android/icon-48-mdpi.png"/>
    <icon density="hdpi" src="res/icons/android/icon-72-hdpi.png"/>
    <icon density="xhdpi" src="res/icons/android/icon-96-xhdpi.png"/>
  </platform>
  <platform name="ios">
    <icon height="180" src="res/icons/ios/icon-60-3x.png" width="180"/>
    <icon height="60" src="res/icons/ios/icon-60.png" width="60"/>
    <icon height="120" src="res/icons/ios/icon-60-2x.png" width="120"/>
    <icon height="76" src="res/icons/ios/icon-76.png" width="76"/>
    <icon height="152" src="res/icons/ios/icon-76-2x.png" width="152"/>
    <icon height="40" src="res/icons/ios/icon-40.png" width="40"/>
    <icon height="80" src="res/icons/ios/icon-40-2x.png" width="80"/>
    <icon height="57" src="res/icons/ios/icon-57.png" width="57"/>
    <icon height="114" src="res/icons/ios/icon-57-2x.png" width="114"/>
    <icon height="72" src="res/icons/ios/icon-72.png" width="72"/>
    <icon height="144" src="res/icons/ios/icon-72-2x.png" width="144"/>
    <icon height="29" src="res/icons/ios/icon-small.png" width="29"/>
    <icon height="58" src="res/icons/ios/icon-small-2x.png" width="58"/>
    <icon height="50" src="res/icons/ios/icon-50.png" width="50"/>
    <icon height="100" src="res/icons/ios/icon-50-2x.png" width="100"/>
  </platform>
  <platform name="windows">
    <icon height="150" src="res/icons/windows/Square150x150Logo.scale-100.png" width="150"/>
    <icon height="360" src="res/icons/windows/Square150x150Logo.scale-240.png" width="360"/>
    <icon height="30" src="res/icons/windows/Square30x30Logo.scale-100.png" width="30"/>
    <icon height="310" src="res/icons/windows/Square310x310Logo.scale-100.png" width="310"/>
    <icon height="106" src="res/icons/windows/Square44x44Logo.scale-240.png" width="106"/>
    <icon height="70" src="res/icons/windows/Square70x70Logo.scale-100.png" width="70"/>
    <icon height="170" src="res/icons/windows/Square71x71Logo.scale-240.png" width="170"/>
    <icon height="50" src="res/icons/windows/StoreLogo.scale-100.png" width="50"/>
    <icon height="120" src="res/icons/windows/StoreLogo.scale-240.png" width="120"/>
    <icon height="150" src="res/icons/windows/Wide310x150Logo.scale-100.png" width="310"/>
    <icon height="360" src="res/icons/windows/Wide310x150Logo.scale-240.png" width="744"/>
  </platform>
  <platform name="wp8">
    <icon height="62" src="res/icons/wp8/ApplicationIcon.png" width="62"/>
    <icon height="173" src="res/icons/wp8/Background.png" width="173"/>
  </platform>
  <platform name="ios">
    <splash height="480" src="res/screens/ios/screen-iphone-portrait.png" width="320"/>
    <splash height="960" src="res/screens/ios/screen-iphone-portrait-2x.png" width="640"/>
    <splash height="1024" src="res/screens/ios/screen-ipad-portrait.png" width="768"/>
    <splash height="2048" src="res/screens/ios/screen-ipad-portrait-2x.png" width="1536"/>
    <splash height="768" src="res/screens/ios/screen-ipad-landscape.png" width="1024"/>
    <splash height="1536" src="res/screens/ios/screen-ipad-landscape-2x.png" width="2048"/>
    <splash height="1136" src="res/screens/ios/screen-iphone-568h-2x.png" width="640"/>
    <splash height="1334" src="res/screens/ios/screen-iphone-portrait-667h.png" width="750"/>
    <splash height="2208" src="res/screens/ios/screen-iphone-portrait-736h.png" width="1242"/>
    <splash height="1242" src="res/screens/ios/screen-iphone-landscape-736h.png" width="2208"/>
  </platform>
  <platform name="windows">
    <splash height="300" src="res/screens/windows/SplashScreen.scale-100.png" width="620"/>
    <splash height="1920" src="res/screens/windows/SplashScreen.scale-240.png" width="1152"/>
    <splash height="1920" src="res/screens/windows/SplashScreenPhone.scale-240.png" width="1152"/>
  </platform>
  <platform name="wp8">
    <splash height="800" src="res/screens/wp8/SplashScreenImage.jpg" width="480"/>
  </platform>
  <icon src="resources\android\icon\drawable-xhdpi-icon.png"/>
  <vs:plugin name="cordova-plugin-network-information" version="1.0.1"/>
  <vs:plugin name="cordova-plugin-statusbar" src="D:\Users\FarisAnsari\Downloads\cordova-plugin-statusbar-master\cordova-plugin-statusbar-master" version="2.0.0-dev"/>
  <vs:plugin name="cordova-plugin-admobpro" src="D:\Users\FarisAnsari\Downloads\cordova-admob-pro-master\cordova-admob-pro-master" version="2.9.2"/>
  <vs:plugin name="cordova-plugin-whitelist" version="1.1.0"/>
  <vs:plugin name="cordova-plugin-splashscreen" version="2.1.0"/>
  <vs:plugin name="cordova-plugin-app-version" src="D:\Users\FarisAnsari\Downloads\cordova-plugin-app-version-develop" version="0.1.8"/>
  <vs:plugin name="cordova-plugin-x-toast" src="D:\Users\FarisAnsari\Downloads\Toast-PhoneGap-Plugin-master\Toast-PhoneGap-Plugin-master" version="2.3.1"/>
  <vs:platformSpecificValues>
    <vs:platformSpecificWidget id="4673FarisAnsari.Hazri" platformName="windows" version="1.0.1.0">
      <vs:name>Attendr</vs:name>
    </vs:platformSpecificWidget>
  </vs:platformSpecificValues>
</widget>