<ion-view>
    <ion-nav-buttons side="primary">
        <button class="button" ng-click="logout()">Logout
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input type="number" placeholder="Enter number of students" min="1" max="150" ng-model="rollno" required>
            </label>
            <button class="button button-small" ng-click="setval(rollno)">
                Submit
            </button>
        </div>

        <ion-scroll direction="y" style="height:400px;">
            <div style="display:inline-block; margin:0.4em; margin-left:0.6em;" ng-repeat="item in items">
                <button ng-class="{'mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--primary' :!exists(item, selected), 'mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--accent' :exists(item, selected)}" ng-click="toggle(item, selected)">
                    {{ item }}
                </button>
            </div>
        </ion-scroll>

        <h4>Absent Students</h4>
    </ion-content>

    <ion-footer-bar align-title="center" class="bar-assertive">
        <button class="button button-outline button-light button-clear" ng-repeat="s in selected | orderBy:s">
            {{ s }}
        </button>
    </ion-footer-bar>
</ion-view>