<ion-view title="Select your class and subject">
    <ion-content padding="true" scroll="true" class="has-header">
        <ion-list>
            <div class="list animate-ripple">
                <div class="item item-icon-right ink" ng-click="showDeptOptions()">Department<span class="item-note">{{ selected.dept.value }}</span><i class="icon ion-chevron-right icon-accessory"></i></div>
                <div class="item item-icon-right ink" ng-click="showYearOptions()">Year<span class="item-note">{{ selected.year.value }}</span><i class="icon ion-chevron-right icon-accessory"></i></div>
                <div class="item item-icon-right ink" ng-click="showSemOptions()">Semester<span class="item-note">{{ selected.semester.value }}</span><i class="icon ion-chevron-right icon-accessory"></i></div>
                <div class="item item-icon-right ink" ng-click="showTypeOptions()">Type<span class="item-note">{{ selected.type.value }}</span><i class="icon ion-chevron-right icon-accessory"></i></div>
                <div class="item item-icon-right ink" ng-click="showSubOptions()">Subject<span class="item-note">{{ selected.subject.value }}</span><i class="icon ion-chevron-right icon-accessory"></i></div>
                <div class="item item-input" ng-click="showDateOptions()"><span class="input-label">Date</span><input type="date" /></div>
                <button class="button button-block action-button button-positive ink" ng-show="allSelected" ui-sref="attendance({selected:selected})">Take attendance</button>
            </div>


        </ion-list>    

    </ion-content>
</ion-view>
